# Azure DevOps Pipeline for TikTask - Node.js

trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  group: 'QA-Variables'
  buildConfiguration: 'Release'
  nodeVersion: '18.x'
  azureSubscription: 'azure-tp05-connection2'

stages:
  - stage: Build
    displayName: 'Build Stage'
    jobs:
      - job: BuildJob
        displayName: 'Build TikTask'
        steps:
          - task: NodeTool@0
            displayName: 'Use Node $(nodeVersion)'
            inputs:
              versionSpec: '$(nodeVersion)'

          - script: |
              npm install
            displayName: 'Install Dependencies'

          - task: ArchiveFiles@2
            displayName: 'Archive Files'
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
              replaceExistingArchive: true

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifacts'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'drop'
              publishLocation: 'Container'

  - stage: DeployQA
    displayName: 'Deploy to QA'
    dependsOn: Build
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: DeployToAzureQA
        displayName: 'Deploy to QA'
        environment: 'QA-tp5'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadBuildArtifacts@1
                  displayName: 'Download Artifacts'
                  inputs:
                    buildType: 'current'
                    downloadType: 'single'
                    artifactName: 'drop'
                    downloadPath: '$(System.ArtifactsDirectory)'

                - task: AzureWebApp@1
                  displayName: 'Deploy to QA'
                  inputs:
                    azureSubscription: '$(AzureSubscription)'
                    appType: 'webApp'
                    appName: 'webapp-tp05-qa-juncos-treachi'
                    package: '$(System.ArtifactsDirectory)/drop/$(Build.BuildId).zip'
                    runtimeStack: 'NODE|18-lts'
                    startUpCommand: 'npm start'

